<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Orrery Web App</title>

    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
      <div id="top">
            <h1>Welcome to the Interactive Web App</h1>
            <p>This app provides a fun and engaging experience to help users learn more about space and the different wonders of the universe.</p>
      </div>
    <div>
      <a href="{{ url_for('main.aboutus') }}">
            <button type="button" onclick="alert('Going to the team members..') "  >About the team</button>
      </a>

      <a href="{{ url_for('main.neopage') }}">
        <button type="button" onclick="alert('Going to the NEO list..') "  >The NEO List</button>
      </a>
      <a href="{{ url_for('main.facts') }}">
        <button type="button" onclick="alert('Facts about the Solar System...') "  >Facts About the Solar System</button>
      </a>
    </div>
    
    
</body>
</html>
